{% extends 'kivweb_app/base.html' %}
{% load static %}

	{% block content %}
	<div id="container">

		
		<form id="inputs" method="post">
			{% csrf_token %}
			<input class="input1" type="text" name="discoveryUrl" placeholder="Discovery URL e.i http://hailataxii.com/taxii-discovery-service"><br>
			<input class="input1" type="text" name="feedname" placeholder="Feedname e.i.guest.phishtank_com"><br>
			<input class="input1" type="text" name="username" placeholder="User Name e.i guest"><br>
			<input class="input1" type="password" name="password" placeholder="Password e.i guest"><br>
			<input class="input1" type="text" name="fromDate" placeholder="From YYYY-M-D e.i 2017-6-9"><br>
			<input class="input1" type="text" name="toDate" placeholder="To YYYY-M-D e.i 2017-6-10"><br>
			<button id="run_button" type="submit">Run</button><br>	
		</form>
	
		<!-- <button id="run_button" type="submit">Run</button><br> -->

		_______________________________________________________________

		<div id="resultDiv">
			Kivred on the web			
		</div>


		
		
	</div> <!--container-->
	
	<script src="{% static 'kivweb_app/js/jquery.min.js' %}" ></script>
	<script src="{% static 'kivweb_app/js/mycustom.js' %}" type="text/javascript"></script>
	{% endblock %}
